.container {
    border: 1px solid black;
    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock{
    border: 1px solid black;
    width: fit-content; 
    margin: auto;
    padding: 10px;
    border-radius: 2px;

}